#This is the port number where the server will run	
PORT = 5000

#This is the host where the database is running
DB_HOST=localhost

#This is the port number of the database
DB_PORT=5432 

#This is the name of the database
DB_NAME=postgres 

#This is the dialect of the database
DB_DIALECT=postgres

#This is the username of the database
DB_USER=postgres 

# This is the password of the database
DB_PASS = your_database_password

# This is the SSL configuration of the database
DB_SSL = false

REDIS_URL = redis://localhost:6379
# Your redis url here. If you are using a local redis server, you can use the default value that i left there.